// // background
$accent-background: #f28b64;
$page-background: #e2e2e2;

$muted-bg: #e6e6e6;
$blue-bg: #5290ea;

$btn-main: #f28b64;

// // fonts
$Family: Montserrat, sans-serif;

// // color
$color-accent: #ffffff;
$color-main: #000000;

//  media
$tablet-width: 768px;
$desktop-width: 1368px;
$mobile-width-only: 767px;

// :root {
// 	--container-width: 1200px;
// 	--container-padding: 24px;

// }

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
