.footer {
  background-image: url("../img/footer/footer__grif.png");
  background-repeat: no-repeat;
  background-position: 0 -9px;
  
}
.footer__wrapper {
  max-width: 1170px;
  width: 100%;

  margin: 0 auto;
  padding: 39px 15px 42px 15px;

  display: flex;
  justify-content: flex-end;
}
.footer__inner {
  max-width: 557px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__inner h2 {
  font-weight: 600;
  font-size: 72px;
  line-height: 64.73px;
}
